In [1]:
%matplotlib qt
import numpy as np
import pandas as pd
import itertools
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('1600Nn obc ON _ 2018-12-06_ORIGEN.xlsx')

In [3]:
df

,Czas [ms],Ciś. pow. przed turb.[Pa],Czas [ms].1,Ciś. pow. za turb.[Pa],Czas [ms].2,Ciśnienie atmosferyczne[hPa],Czas [ms].3,Ciśnienie oleju[bar],Czas [ms].4,Ciśnienie spalin[Pa],...,Czas [ms].68,Zaw. zb. paliwa 2/3[-],Czas [ms].69,Zaw. zb. paliwa 3/3[-],Czas [ms].70,Zawór reg. chł. cieczy[-],Czas [ms].71,Zużycie paliwa bieżące[g/s],Czas [ms].72,Zużycie paliwa średnie[g/s]
0,101.0,-102.0,100.0,-114.0,59.0,1003.0,100.0,0.005,102.0,65.0,...,159.0,0.0,159.0,0.0,250.0,0.0,34.0,0.01,35.0,0.0
1,301.0,-93.0,301.0,-105.0,259.0,1003.0,300.0,0.005,302.0,84.0,...,1160.0,0.0,1160.0,0.0,461.0,0.0,235.0,0.01,235.0,0.0
2,502.0,-93.0,502.0,-68.0,459.0,1003.0,502.0,0.005,504.0,103.0,...,1761.0,0.0,1761.0,0.0,1252.0,0.0,436.0,0.01,436.0,0.0
3,701.0,-93.0,701.0,-68.0,659.0,1003.0,701.0,0.005,703.0,103.0,...,2162.0,0.0,2162.0,0.0,1463.0,0.0,636.0,0.01,636.0,0.0
4,902.0,-84.0,902.0,-77.0,861.0,1003.0,901.0,0.006,903.0,56.0,...,3163.0,0.0,3163.0,0.0,2254.0,0.0,836.0,0.00,836.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Harmonize_time --- concat()
df1 = df.iloc[:, [58, 59]].dropna()
df2 = df.iloc[:, [54, 55]].dropna()
df3 = df.iloc[:, [52, 53]].dropna()
df4 = df.iloc[:, [144, 145]].dropna()

df1 = df1.drop_duplicates([df1.columns[0]])
df2 = df2.drop_duplicates([df2.columns[0]])
df3 = df3.drop_duplicates([df3.columns[0]])
df4 = df4.drop_duplicates([df4.columns[0]])

df1 = df1.set_index(df1.columns[0])
df2 = df2.set_index(df2.columns[0])
df3 = df3.set_index(df3.columns[0])
df4 = df4.set_index(df4.columns[0])

#df1.index.name = 'czas'
#df2.index.name = 'czas'
frame = [df1, df2, df3, df4]

df_concat = pd.concat(frame, axis=1)
df_concat.fillna(method='ffill', inplace=True)
res_filtered = df_concat
df_concat

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s]
0.0,0.0,0.1,NaN,NaN
20.0,0.0,0.1,NaN,NaN
35.0,0.0,0.1,NaN,0.0000
40.0,0.0,0.1,NaN,0.0000
60.0,0.0,0.1,NaN,0.0000
...,...,...,...,...
771674.0,800.0,1.6,0.1,0.1469
771694.0,800.0,1.6,0.1,0.1469
771714.0,800.0,1.5,0.1,0.1469
771734.0,800.0,1.6,0.1,0.1469
771754.0,800.0,1.6,0.1,0.1469

In [5]:
res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s]
0.0,0.0,0.1,NaN,NaN
20.0,0.0,0.1,NaN,NaN
35.0,0.0,0.1,NaN,0.0000
40.0,0.0,0.1,NaN,0.0000
60.0,0.0,0.1,NaN,0.0000
...,...,...,...,...
771674.0,800.0,1.6,0.1,0.1469
771694.0,800.0,1.6,0.1,0.1469
771714.0,800.0,1.5,0.1,0.1469
771734.0,800.0,1.6,0.1,0.1469
771754.0,800.0,1.6,0.1,0.1469

In [6]:
div_f = 0.05
lst_f = np.arange(0.05, 4, 0.01)
#lst_f = map(lambda x: x * 0.01, [x for x in range(5, 400, 1)])
min_time_f = 1500
indices = []
#f = 0.95
for f in lst_f:
    div_min = f - div_f
    div_max = f + div_f    
    index = res_filtered[(res_filtered['Zużycie paliwa średnie[g/s]'] >= div_min) & 
                     (res_filtered['Zużycie paliwa średnie[g/s]'] <= div_max)].index
    if len(index) > min_time_f:
        indices += list(index)


drop_ind = list(set(res_filtered.index) - set(indices))
res_filtered.drop(drop_ind, inplace=True)
res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s]
35.0,0.0,0.1,NaN,0.0000
40.0,0.0,0.1,NaN,0.0000
60.0,0.0,0.1,NaN,0.0000
61.0,0.0,0.1,0.0,0.0000
80.0,0.0,0.1,0.0,0.0000
...,...,...,...,...
771674.0,800.0,1.6,0.1,0.1469
771694.0,800.0,1.6,0.1,0.1469
771714.0,800.0,1.5,0.1,0.1469
771734.0,800.0,1.6,0.1,0.1469
771754.0,800.0,1.6,0.1,0.1469

In [7]:
''' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '''

' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '

In [8]:
# filtering rotation frequency
min_div1 = 1600 - 10
max_div1 = 1600 + 10

res_filtered.drop(res_filtered[res_filtered['Obroty[obr/min]'] < 790].index, inplace=True)
res_filtered.drop(res_filtered[res_filtered['Obroty[obr/min]'] < min_div1].index, 
                  inplace=True)
res_filtered.drop(res_filtered[res_filtered['Obroty[obr/min]'] > max_div1].index, 
                  inplace=True)
q_low = res_filtered['Obroty[obr/min]'].quantile(0.01)
q_hi  = res_filtered['Obroty[obr/min]'].quantile(0.99)


res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s]
117870.0,1590.0,1.4,0.2,0.4587
117890.0,1590.0,1.4,0.2,0.4587
117910.0,1590.0,1.4,0.2,0.4587
117930.0,1591.0,1.4,0.2,0.4587
117950.0,1591.0,1.4,0.2,0.4587
...,...,...,...,...
707121.0,1600.0,1.6,0.3,0.4149
707129.0,1600.0,1.6,0.3,0.4162
707141.0,1598.0,1.7,0.3,0.4162
707161.0,1595.0,1.6,0.3,0.4162
707181.0,1591.0,1.7,0.3,0.4162

In [9]:
lst_range = [j for j in res_filtered.index[0:30]]
res_filtered.loc[lst_range, 'Obroty[obr/min]']

117870.0    1590.0
117890.0    1590.0
117910.0    1590.0
117930.0    1591.0
117950.0    1591.0
117970.0    1591.0
117990.0    1591.0
118010.0    1592.0
118017.0    1592.0
118030.0    1592.0
118050.0    1592.0
118070.0    1593.0
118090.0    1593.0
118110.0    1594.0
118130.0    1594.0
118150.0    1595.0
118171.0    1595.0
118190.0    1596.0
118210.0    1596.0
118218.0    1596.0
118230.0    1597.0
118250.0    1598.0
118270.0    1598.0
118290.0    1599.0
118310.0    1599.0
118330.0    1600.0
118350.0    1601.0
118370.0    1601.0
118391.0    1602.0
118411.0    1602.0
Name: Obroty[obr/min], dtype: float64

In [10]:
res_filtered['Obroty[obr/min]'].describe()

count    30446.000000
mean      1600.556066
std          2.979085
min       1590.000000
25%       1599.000000
50%       1601.000000
75%       1602.000000
max       1610.000000
Name: Obroty[obr/min], dtype: float64

In [11]:
''' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '''

' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '

In [12]:
# filtering fuel consumption

res_filtered.drop(res_filtered[res_filtered['Zużycie paliwa średnie[g/s]'] < 0.5].index, 
                  inplace=True)
res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s]
119219.0,1598.0,1.3,0.2,0.5005
119231.0,1598.0,1.3,0.2,0.5005
119232.0,1598.0,1.3,0.2,0.5005
119252.0,1598.0,1.3,0.2,0.5005
119272.0,1598.0,1.3,0.2,0.5005
...,...,...,...,...
671009.0,1602.0,1.7,0.3,1.7908
671021.0,1602.0,1.7,0.3,1.7908
671029.0,1602.0,1.7,0.3,1.7908
671049.0,1601.0,1.7,0.3,1.7908
671069.0,1601.0,1.7,0.3,1.7908

In [13]:
q_low = res_filtered['Obroty[obr/min]'].quantile(0.01)
q_hi  = res_filtered['Obroty[obr/min]'].quantile(0.99)
print(q_low, q_hi, sep='\n')

1591.0
1609.0

In [14]:
res_filtered['Obroty[obr/min]'].describe()

count    27371.000000
mean      1600.631581
std          3.005724
min       1590.000000
25%       1599.000000
50%       1601.000000
75%       1602.000000
max       1610.000000
Name: Obroty[obr/min], dtype: float64

In [15]:
''' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '''

' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '

In [16]:
# filtering torque. Last value has different range. Use closure (замыкания функции) insted of two for loops
lst_torque = [1, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325] # without last point
lst_last = [i for i in range(330, 370, 5)]   # list_torque to find last point
div = 1  # diviation
min_time_experiment = 100

for tq in lst_torque:
    div_min = tq - div
    div_max = tq + div
    index = res_filtered[(res_filtered['Moment obrotowy[Nm]'] >= div_min) & 
                         (res_filtered['Moment obrotowy[Nm]'] <= div_max)].index
    if len(index) > min_time_experiment:
        res_filtered.loc[index, 'Torque'] = tq

for tq in lst_last:
    div_min = tq - div
    div_max = tq + div
    index = res_filtered[(res_filtered['Moment obrotowy[Nm]'] >= div_min) & 
                         (res_filtered['Moment obrotowy[Nm]'] <= div_max)].index
    if len(index) > min_time_experiment:
        res_filtered.loc[index, 'Torque'] = tq        
        index_last = index[-1]
    
res_filtered.drop(res_filtered[res_filtered.index > index_last].index, inplace=True) # drop tail of the the data
res_filtered.dropna(inplace=True)

grouped_res = res_filtered.groupby('Torque')  # group by 'Torque'
dict_gr_res = dict(list(grouped_res))         # get dict --- dictionary 1: df1, 25: df2, 50: df3, ...

res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s],Torque
119219.0,1598.0,1.300000,0.200000,0.5005,1.0
119231.0,1598.0,1.300000,0.200000,0.5005,1.0
119232.0,1598.0,1.300000,0.200000,0.5005,1.0
119252.0,1598.0,1.300000,0.200000,0.5005,1.0
119272.0,1598.0,1.300000,0.200000,0.5005,1.0
...,...,...,...,...,...
582040.0,1609.0,335.899994,56.599998,3.8366,335.0
582060.0,1610.0,336.000000,56.599998,3.8366,335.0
582080.0,1610.0,336.000000,56.599998,3.8366,335.0
582094.0,1610.0,336.000000,56.599998,3.8366,335.0
582100.0,1610.0,336.000000,56.599998,3.8366,335.0

In [17]:
dict_gr_res[1].index

Float64Index([119219.0, 119231.0, 119232.0, 119252.0, 119272.0, 119292.0,
              119312.0, 119332.0, 119352.0, 119372.0,
              ...
              200344.0, 200347.0, 200349.0, 200369.0, 200389.0, 200409.0,
              200429.0, 200449.0, 200469.0, 200489.0],
             dtype='float64', length=4808)

In [18]:
for k in dict_gr_res:
    print(f'{k} --- {len(dict_gr_res[k])}')

1.0 --- 4808
50.0 --- 2579
100.0 --- 2152
150.0 --- 2002
200.0 --- 1719
250.0 --- 1402
275.0 --- 1678
300.0 --- 946
325.0 --- 1402
335.0 --- 2079

In [19]:
res_filtered[res_filtered.loc[:, 'Torque'] == 325]

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s],Torque
505417.0,1601.0,324.500000,54.400002,3.6607,325.0
505430.0,1600.0,324.500000,54.400002,3.6607,325.0
505450.0,1600.0,324.500000,54.400002,3.6607,325.0
505470.0,1600.0,324.500000,54.400002,3.6607,325.0
505490.0,1600.0,324.500000,54.400002,3.6607,325.0
...,...,...,...,...,...
528663.0,1596.0,325.700012,54.400002,3.7507,325.0
528683.0,1596.0,325.700012,54.400002,3.7507,325.0
528703.0,1596.0,325.799988,54.400002,3.7507,325.0
528723.0,1596.0,325.899994,54.400002,3.7507,325.0
528743.0,1596.0,326.000000,54.400002,3.7507,325.0

In [20]:
res_filtered.dropna(inplace = True) # droping NaN in column 'Torque'
res_filtered

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s],Torque
119219.0,1598.0,1.300000,0.200000,0.5005,1.0
119231.0,1598.0,1.300000,0.200000,0.5005,1.0
119232.0,1598.0,1.300000,0.200000,0.5005,1.0
119252.0,1598.0,1.300000,0.200000,0.5005,1.0
119272.0,1598.0,1.300000,0.200000,0.5005,1.0
...,...,...,...,...,...
582040.0,1609.0,335.899994,56.599998,3.8366,335.0
582060.0,1610.0,336.000000,56.599998,3.8366,335.0
582080.0,1610.0,336.000000,56.599998,3.8366,335.0
582094.0,1610.0,336.000000,56.599998,3.8366,335.0
582100.0,1610.0,336.000000,56.599998,3.8366,335.0

In [21]:
res_filtered[res_filtered.iloc[:, -1] == 100]

,Obroty[obr/min],Moment obrotowy[Nm],Moc[kW],Zużycie paliwa średnie[g/s],Torque
259915.0,1596.0,99.099998,16.400000,0.9543,100.0
259935.0,1596.0,99.199997,16.400000,0.9543,100.0
259955.0,1596.0,99.400002,16.400000,0.9543,100.0
259975.0,1596.0,99.599998,16.400000,0.9543,100.0
259995.0,1596.0,99.699997,16.400000,0.9543,100.0
...,...,...,...,...,...
305701.0,1594.0,100.500000,16.799999,1.4109,100.0
305708.0,1594.0,100.500000,16.799999,1.4127,100.0
305721.0,1593.0,100.699997,16.799999,1.4127,100.0
305741.0,1593.0,100.800003,16.799999,1.4127,100.0
305761.0,1592.0,101.000000,16.799999,1.4127,100.0

In [22]:
index = res_filtered[(res_filtered['Moment obrotowy[Nm]'] >= div_min) & 
                     (res_filtered['Moment obrotowy[Nm]'] <= div_max)].index
index

Float64Index([], dtype='float64')

In [23]:
df_50 = res_filtered[(res_filtered['Moment obrotowy[Nm]'] >= div_min) & 
                     (res_filtered['Moment obrotowy[Nm]'] <= div_max)].copy()   # I don't need this --- .copy()
df_50.loc[:, 'key'] = 50
#df_50['key'] = pd.to_numeric(df_50['key'])
#df_50["a"] = pd.to_numeric(df["a"])
df_50

ValueError: cannot set a frame with no defined index and a scalar

In [ ]:
''' !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! '''

In [ ]:
# class Graphs - def first(self)

plt.style.use('bmh')
fig0, ax = plt.subplots()
ax.plot(df_concat.index, df_concat.iloc[:, 0])
ax.set_title(df_concat.columns[0])

fig1, ax = plt.subplots()
ax.plot(df_concat.index, df_concat.iloc[:, 1])
ax.set_title(df_concat.columns[1])

fig2, ax = plt.subplots()
ax.plot(df_concat.index, df_concat.iloc[:, 2])
ax.set_title(df_concat.columns[2])

fig3, ax = plt.subplots()
ax.plot(df_concat.index, df_concat.iloc[:, 3])
ax.set_title(df_concat.columns[3])

# the simpiest graph
plt.style.use('bmh')
plt.plot(df_concat.index, df_concat.iloc[:, 0])
plt.title(df_concat.columns[0])
plt.show()

In [ ]:
# 4 in 1
fig1, ax1 = plt.subplots(4, 1, figsize=[20, 80])
ax1[0].plot(df_concat.index, df_concat.iloc[:, 0])
ax1[0].set_title(df_concat.columns[0])

ax1[1].plot(df_concat.index, df_concat.iloc[:, 1])
ax1[1].set_title(df_concat.columns[1])

ax1[2].plot(df_concat.index, df_concat.iloc[:, 2])
ax1[2].set_title(df_concat.columns[2])

ax1[3].plot(df_concat.index, df_concat.iloc[:, 3])
ax1[3].set_title(df_concat.columns[3])